.Title{
    font: bold 15pt sans-serif;
}
section:first-child{
    font: italic 14pt arial,sans-serif;
}
section:nth-of-type(2){
    color: red;
    font: 12pt arial,sans-serif;
    text-align: right;
}
section:nth-of-type(3){
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
section:nth-of-type(3) > p:nth-child(2)::first-line{
    text-decoration: underline;
}
section:nth-of-type(4)>p{
    margin: 0;
    text-transform: uppercase;
}
