        p.edge {
            color: red;
        }
        
        p+h1,
        p#MyTitle3 b {
            color: #fad507;
        }
        
        #MyTitle2,
        p#MyTitle3,
        #MyTitle4 +b {
            color: #5994d9;
        }
        
        #Title4_text {
            color: green;
            ;
        }
